<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>220E4604-9FED-417B-85A3-396354D245E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A141134-3163-4E68-9B75-2D2996DE9279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>715FFB56-1669-43DA-B6B4-ADE3A1BAE0AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A141134-3163-4E68-9B75-2D2996DE9279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E2D463E-FAF5-467F-92F9-A03627E9FC5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7F2BB4E-7AB2-410B-86CF-2BF8CABAB8DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>891078DC-68BA-4B49-B0D4-7AA5230AFFD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E2D463E-FAF5-467F-92F9-A03627E9FC5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3A0A882-EC63-4459-91BD-59D7A4D7672B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>220E4604-9FED-417B-85A3-396354D245E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E771AEF2-E31F-435C-ADCA-B29C6E969B92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>715FFB56-1669-43DA-B6B4-ADE3A1BAE0AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lipsum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A7F2BB4E-7AB2-410B-86CF-2BF8CABAB8DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node index.js -u "paragraphs" -n "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E2D463E-FAF5-467F-92F9-A03627E9FC5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Paragraph</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>891078DC-68BA-4B49-B0D4-7AA5230AFFD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0A141134-3163-4E68-9B75-2D2996DE9279</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node index.js -u "sentences" -n "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>220E4604-9FED-417B-85A3-396354D245E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ls</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sentence</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E3A0A882-EC63-4459-91BD-59D7A4D7672B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Characters</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E771AEF2-E31F-435C-ADCA-B29C6E969B92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node index.js -u "paragraphs" -l "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>715FFB56-1669-43DA-B6B4-ADE3A1BAE0AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A141134-3163-4E68-9B75-2D2996DE9279</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>220E4604-9FED-417B-85A3-396354D245E4</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>715FFB56-1669-43DA-B6B4-ADE3A1BAE0AC</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>7E2D463E-FAF5-467F-92F9-A03627E9FC5C</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>891078DC-68BA-4B49-B0D4-7AA5230AFFD1</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>A7F2BB4E-7AB2-410B-86CF-2BF8CABAB8DF</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E3A0A882-EC63-4459-91BD-59D7A4D7672B</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>E771AEF2-E31F-435C-ADCA-B29C6E969B92</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
